
.meal-plan-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
    min-height: 80px;
    min-width: 100px;
    line-height: 19px;
    border: 2px solid $primary;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    background-color: #ecffda;

    @media only screen and (max-width: 900px) {
        padding: 1rem 0.5rem 0.5rem 0.5rem;
    }
    
    a {
        text-decoration: auto;
    }
}

.no-item {
    background-color: $secondary;
    border-color: $secondary;
}

.meal-plan-td {
    width: 12.5%;
}

.btn-view-shopping-list{
    margin-top: -7px;
    padding: auto 25px auto 25px;

    @media only screen and (max-width: 900px) {
        width: 100%;
    }
}